body
{
margin:0;
font-family:urw gothic l;
}
.bg
{
width:100%;
height:100%;
position:fixed;
}
.bg img{

	width:100%;
	height:80%;
	position:absolute;
}

.all{
	position:relative;
}
nav{
        width:100%;
        height:50; 
	position:fixed;
	top:0;
	background:white;

	}
.nl{

        top:0;
	color:gray;
	padding:15 30;
	float:left;	
	font-weight:bolder;
}
.nl:hover{
	color:green;
}
.margin{
	width:80%;
	margin:auto;
}
.search{
	position:absolute;
	top:10;
	right:11%;
}
a,img,button{	
	
	text-decoration:none;
}

input,textarea{
	width:100%;
	padding:5;
	font:normal 15px urw gothic l;
	margin:10 0 5;
border:1px solid #ccc;
}
button{
	color:white;
	background:green;
	padding:5;
	border:none;
	margin:5 0 0 ;
}
button:hover{
	background:gray;
	cursor:pointer;
}

.head{
	width:100%;
	height:120;
	padding:120 0;
	background:rgba(0,0,0,0.5);
	text-align:center;
}
.wrap{
	width:100%;
	background:white;
}
.margin{
	width:80%;
	margin:auto;
}
.home1{
	width:22%;
	padding:1.5%;
	float:left;
	margin:20 0 20 0;
	border-right:1px solid #ccc;
	height:200;
}
.home2{
	width:48%;
	padding:1.5%;
	float:left;
	margin:20 0 20 0;
	border-right:1px solid #ccc;
	height:200;
}
.home3{
	width:20%;
	padding:1.5%;
	float:left;
	margin:20 0 20 0;
	height:200;
}
.box{
	width:27%;
	margin:1%;	
	padding:2%;
	border:1px solid #ccc;
	float:left;
	text-align:center;
}




h1,h2,h3,h4{
	font:lighter 25px urw gothic l;
	color:green;
	margin:0;
	padding:5;
}
h1{
	color:white;
	font-size:70;
}
h2{
	color:white;
	opacity:0.7;
}


p,li{
	color:gray;
	font:bold 15px arial;
	line-height:1.5;
	text-align:justify;
}
.a1{
        color:gray;
	font:bold 15px arial;
	line-height:1.5;
	text-align:justify;
}
.a1:hover{
        color:green;
}
.lnk{
	width:30%;
	padding:1%;
	float:left;
	margin:20 0 0 0;

}

.home2 a{
        color:green;
        float:right;
}
.box li{
        color:gray;
	font:bold 15px arial;
	line-height:1.5;
	text-align:justify

}
.a{
       color:green;
}
.read{
        width:90%;
	padding:1%;
	float:left;
	margin:20 0 0 0;

}
.gallery {
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 280px;
    height: 280px;
}
.gallery:hover {
    border: 1px solid gray;
}
.gallery img {
    width: 100%;
    height: 100%;
    
}
